.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

$base-color:#3500D3;
$base-text: Comic Sans MS;
$base-text-color:#0C0032;

body {
  background-image: url("./image/watch.jpeg");
  font-family: $base-text;
  color: $base-text-color;
  font-weight: bold;
}

